<img class="logo" src="./../../../assets/images/logo-bleu.jpg" style="margin-bottom: 30px;">

<div class="arbre">
        <img src="./../../../assets/images/illu.svg" style="margin-bottom: 40px;">
        <p>Tes bonnes action ont contribués à la reforestation de l’amazonie. <br><strong>1 arbre sera planté en ton nom.</strong></p>
        <p>Toi aussi mets tes amis au défi de réaliser ce challenge en 3 mois en leur partageant nos engagements !</p>
        <div class="icons">
         <img src="./../../../assets/images/Facebook.svg">
         <img src="./../../../assets/images/Insta.svg">
        </div>
</div>