<footer>
    <div>
    <div>
        <ul>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
            </ul>
    </div>
    <div>
                <ul>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                    </ul>
            </div>
            <div>
                        <ul>
                                <li><a href="#">Politique de confidentialité</a></li>
                                <li><a href="#">Politique de confidentialité</a></li>
                                <li><a href="#">Politique de confidentialité</a></li>
                                <li><a href="#">Politique de confidentialité</a></li>
                            </ul>
                    </div>
                    <div>
                                <ul>
                                        <li><a href="#">Politique de confidentialité</a></li>
                                        <li><a href="#">Politique de confidentialité</a></li>
                                        <li><a href="#">Politique de confidentialité</a></li>
                                        <li><a href="#">Politique de confidentialité</a></li>
                                    </ul>
                            </div>
</div>
<p>Caelis Caelis Caelis Copyright</p>
</footer>