$md-caeli: (
    50 : #707070,
    100 : #b3caff,
    200 : #80a7ff,
    300 : #4d83ff,
    400 : #2669ff,
    500 : #004eff,
    600 : #0047ff,
    700 : #003dff,
    800 : #0035ff,
    900 : #0025ff,
    A100 : #ffffff,
    A200 : #f2f3ff,
    A400 : #bfc5ff,
    A700 : #a6aeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
