@import 'variables.scss';
@import 'assets/scss/cards.scss';
@import 'assets/scss/layouts.scss';
@import 'assets/scss/menu.scss';
@import '~material-bottom-nav';
@import '~@angular/material/theming';
@import './material-theme';
@include mat-core();
$myProject-primary: mat-palette($md-caeli, 600);
$myProject-accent: mat-palette($md-caeli, 600);
$myProject-warn: mat-palette($md-caeli, 600);
$myProject-foreground: mat-palette($md-caeli, 600);
$myProject-theme: mat-light-theme($myProject-primary, $myProject-accent, $myProject-warn);
@include angular-material-theme($myProject-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif!important;}

.bottom-nav {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  @include bottom-nav(#004EFF, #FFFFFF, #FFFFFF);
}
