<div class="success" [ngStyle]="{'background-image': 'url(' + './../../../assets/images/' + defi.image + ')'}">
 <div class="overlay-success">
  <div class="card-detail">
    <h2>{{ defi.titre }}</h2>
    <h4>Bravo !</h4>
    <p>{{ defi.tooltip }}</p>
  </div>
  <div class="card-btn" style="display: block;width: 53%;">
        <button class="btn-primary defi-detail" style="color: #004EFF; background-color: white; border-color: white;" routerLink="/defis">Défi suivant</button>
        <button class="btn-primary defi-detail" style="color: white; background-color: #004EFF; border-color: #004EFF;  margin-top: 17px; padding: 8px 62px 8px 62px !important;" (click)="shareIt()">Partager</button>
    </div>
 </div>
</div>
