div.success {
    height: 100%;
    width: 100%;
    background-size: cover;
    div.overlay-success {
        background-color: rgba(0, 76, 255, 0.623);
        height: 100%;
    width: 100%;
    .card-detail {
        height: 465px;
        width: 80%;
        margin: auto;
        h2 {
          text-align: left;
          font-weight: bold;
          font-size: 24px;
          letter-spacing: 0;
          color: $text-secondary-color;
          padding-top: 49px;
        }
        h4 {
         text-align: left;
          font-weight: bold;
          font-size: 20px;
          letter-spacing: 0;
          color: $text-secondary-color;
          padding-top: 35px;
        }
        p {
          text-align: left;
          letter-spacing: 0;
          color: $text-secondary-color;
          font-size: 14px;
          margin-top: 12px;
        }
      }

    }
}