<div class="image-menu actu-image" style="background-image: url('./../../../assets/images/fond-menu.png')">
  <div class="items">
  <img class="logo" src="./../../../assets/images/logo-white.png">
</div>
</div>
<div class="cards disabled">
    <div class="card text-white">
        <a>
        <img src="./../../../assets/images/eau.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <p class="actu-title">Tout savoir sur la consommation de l’eau dans le monde</p>
          <span style="font-size: 14px;">L’eau, une ressource, un enjeu rare, mais que faut t’il faire pour sauvegarder l’eau ?</span>
        </div>
    </a>
      </div>
</div>
