<div class="image-menu actu-image" style="background-image: url('./../../../assets/images/fond-menu.png')">
  <div class="items">
  <img class="logo" src="./../../../assets/images/logo-white.png">
</div>
</div>
<div class="cards">
    <div class="card text-white" style="margin-bottom: 45px;">
        <a href="#" style="color: #FFFFFF;">
        <img src="./../../../assets/images/eau.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <p class="actu-title">Tout savoir sur la consommation de l’eau dans le monde</p>
          <p class="span-actus">L’eau, une ressource, un enjeu rare, mais que faut t’il faire pour sauvegarder l’eau ?</p>
        </div>
    </a>
    </div>
      <div class="card text-white" style="margin-bottom: 45px;">
        <a href="#" style="color: #FFFFFF;">
          <img src="./../../../assets/images/eau.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <p class="actu-title">Le marché de la mode et du textile : Un milieu grand consommateur d’eau</p>
              <p class="span-actus">Quant à lui cet article attire les curieux et les adeptes de la mode et de l’écologie. Cela peut-être une bonne occasion de </p>
            </div>
        </a>
      </div>
      <div class="card text-white" style="margin-bottom: 100px;">
        <a href="#" style="color: #FFFFFF;">
          <img src="./../../../assets/images/eau.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <p class="actu-title">La vaisselle à la main ou le lave-vaisselle : Qu’est ce qui consomme le plus d’eau ? </p>
              <p class="span-actus">Et enfin cet article vise à la fois les personnes sensiblent à l’écologie et qui souhaitent faire des économies.</p>
            </div>
        </a>
      </div>
</div>
