.content-about {
    width: 80%;
    margin: auto;
    h2{
        text-align: left;
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 0;
        color: #004EFF;
        text-transform: uppercase;
        opacity: 1;
    }
    p{
        text-align: left;
        letter-spacing: 0;
        color: #707070;
        opacity: 1;
        font-size: 14px;
        margin: 20px 0px 100px 0px;
    }
}