<div class="menu-container">
    <div class="image-menu" style="background-image: url('./../../../assets/images/fond-menu.png')">
<div class="items">
    <img class="logo" src="./../../../assets/images/logo-white.png">
    <h1>Goutte à goutte, sauvons notre planète</h1>
    <p>Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro</p>
    <div class="div-button">
            <button class="btn btn-secondary" routerLink="/access">Démarrer</button>
    </div>
</div>
</div>
<div class="picto">
 <div class="picto-card">
            <img src="./../../../assets/images/goute-picto.png">
            <h3>Un organisme capable<br> de vous guider</h3>
     <p>Ratio vous aide à rester vis-à-vis de la loi tout en restituant vos bulletins de paie et les états déclaratifs à temps.</p>
 </div>
 <div class="picto-card">
        <img src="./../../../assets/images/target-picto.png">
        <h3>Une gestion de la paie<br> centralisée</h3>
 <p>Avec notre outil accessible partout et par tous, nous vous offrons une gestion de paie simple et efficace.</p>
</div>
<div style="margin-bottom: 0px!important" class="picto-card">
        <img src="./../../../assets/images/monde-picto.png">
        <h3>Un gestionnaire de paie dédié <br>pour chaque entreprise</h3>
 <p>Notre équipe est toujours disponible pour vous aider au quotidien.</p>
</div>
</div>
</div>
  <!-- <img style="position: absolute;
  top: 1079px;
  left: 260px;
  width: 65%;" src="./../../../assets/images/tache.png"> -->

<div class="menu-container" style="    background-image: url(./../../../assets/images/fond.svg);
background-size: 1334px auto;
background-repeat: no-repeat;
padding-bottom: 86px;
padding-top: 80px;
background-position: 59% 44%;">

<div class="number">
    <h2>Chiffres clés</h2>
    <div class="data" style="margin-bottom:36px">
            <span>1.4</span><p class="blue">milliards</p>
            <p class="grey">nombre de personnes qui sont confrontés à une pénurie d’eau et vivent avec moins de 1 000 m3 par an</p>
        </div>
    </div>
    <img style="position: absolute;
    top: 1439px;
    left: -154px;
    width: 110%;" src="./../../../assets/images/douche.svg">
    <div class="number">
        <div class="data" style="float:right; margin-bottom: 29px; text-align: right; width: 72%!important">
                <span>93</span><p class="blue">%</p>
                <p class="grey" style="text-align: right">de l’eau consommée par les ménages français est dédiée à l’hygiène et l’entretien, les 7 % restants vont à l’alimentation</p>
            </div>
            <div class="data" style="margin-bottom:93px">
                    <span>200</span><p class="blue">litres</p>
                    <p class="grey">par jour et par personne, soit la consommation en eau des Français en 2006 (ménages et collectivités confondus)</p>
                </div>
</div>
</div>
<div class="menu-container">
<div class="challenge">
        <img class="logo" src="./../../../assets/images/logo-bleu.jpg">
        <p>Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro firmatum, ubi conduntur nunc usque commeatus distribui militibus omne latus Isauriae defendentibus adsueti.</p>
        <div class="div-button">
                <button style="color: white; background-color: #004EFF;" class="btn btn-secondary" routerLink="/access">Démarrer</button>
        </div>
</div>
</div>
<img style="width: 100%; height: 217px" src="./../../../assets/images/mamie-ecolo.jpg">
<div class="menu-container">
    <div class="discover">
        <h2>Tout savoir sur la consommation de l’eau dans le monde</h2>
        <p>L'eau, une ressource, un enjeu rare, mais que faut t'il faire pour sauvegarder l'eau ?</p>
        <div class="div-button">
                <button style="color:white; margin-top: 9px!important; background-color: #004EFF;" class="btn btn-secondary" routerLink="/actus">Découvrir</button>
        </div>
    </div>
</div>
