<div class="menu-container">
    <div class="image-menu" style="background-image: url('./../../../assets/images/fond-menu.png')">
      <div class="items">
      <img class="logo" src="./../../../assets/images/logo-white.png">
      <h1>Contact</h1>
    </div>
  </div>
  <div class="picto">
   <div class="picto-card">
       <p>Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro</p>
    </div>
    <div class="inputContact">
      <form>
      <mat-form-field>
        <input matInput >
      </mat-form-field>
      <mat-form-field>
        <input matInput >
      </mat-form-field>
      <mat-form-field>
        <input matInput >
      </mat-form-field>
      <mat-form-field>
        <input matInput >
      </mat-form-field>
      <div class="div-button">
              <button class="btn btn-primary">J'ai réussi</button>
      </div>
      </form>
    </div>
  </div>
</div>
