@import '~@angular/material/theming';
@include mat-core();

div.menu-container .image-menu{
  height: 290px !important;
  background-position: bottom;
}
.mat-form-field-infix{
  border: #004EFF 2px solid ;
}
.mat-form-field{
  width: 100%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
  color: #004EFF !important;
}

form {
  h2 {
    text-align: left;
font-weight: Bold;
font-size: 24px;
letter-spacing: 0;
color: #004EFF;
margin-bottom: 20px;
  }
  input, select, textarea {

      background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #004EFF;
border-radius: 20px;
  
  }
  .form-control {
    color: #707070;
  }
}
