<div class="menu-container">
    <div class="image-menu" style="background-image: url('./../../../assets/images/fond-menu.png')">
      <div class="items">
      <img class="logo" src="./../../../assets/images/logo-white.png">
      <p style="text-align: left">Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine</p>
    </div>
  </div>
  <div class="picto" style="top: 50px ;">
   <div class="picto-card" style="margin-bottom: 0px ;">
       <p style="text-align: initial; margin-bottom: 40px">Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro</p>
    </div>
    <div class="inputContact">
      <form>
        <h2>UNE QUESTION ?</h2>
          <div class="form-group">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nom - Prénom">
            </div>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Objet</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
    <textarea style="height: 180px" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Quelle est votre demande ?"></textarea>
  </div>
      <div class="div-button" style="margin-bottom: 100px ;">
              <button style="margin-right: 0px!important;color:white; margin-top: 9px!important; background-color: #004EFF;" class="btn btn-secondary">J'ai réussi</button>
      </div>
      </form>
    </div>
  </div>
</div>
