<form [formGroup]="allResponse" *ngIf="!isShow">
<div class="col-md-12 pt-5 pb-5 quizz-container">
<div *ngFor="let question of questions">
  <div class="col-md-8">
    <h5><span style="color:#004EFF;">{{question.id}}. </span> {{question.question}}</h5>
  <div class="response">
    <div *ngFor="let o of question.option">
      <label><input type="radio" name="{{question.letter}}" class="form-radio" value="{{o.optionid}}" [(ngModel)]="question.selected" formControlName="{{question.letter}}" />{{o.name}}</label>
    </div>
    </div>
  </div>
</div>
  <div class="div-button">
    <button style="color:white; margin-top: 9px!important; background-color: #004EFF;" class="btn btn-secondary" (click)="submit()">Valider</button>
  </div>
</div>
</form>
<div class="result" *ngIf="isShow">
    <div style="background-image: url('./../../../assets/images/page-score.jpg'); background-image: url(./../../../assets/images/page-score.jpg);
    height: 368.3px;
    background-size: 378px;">
      <img class="logo" src="./../../../assets/images/logo-white.png">
      <h1>Votre socre</h1>
      <div *ngIf="score == 10" class="score">
          <p>{{score}}</p><hr><p style="position: absolute;
          top: 229px;
          font-size: 35px;
          right: 112px;">10</p>
      </div>
      <div *ngIf="score !== 10" class="score">
          <p>{{score}}</p><hr style="left: 170px;"><p style="position: absolute;
          top: 229px;
          font-size: 35px;
          right: 127px;">10</p>
      </div>
      <div class="greytext">
       <p>Félicitation pour ton score ! Les 3 mois de défis se sont maintenant écoulés, la planète et nous même te remercions d’avoir participé à la préservation de notre environnement en luttant contre le gaspillage de l’eau et en adoptant des habitudes plus écologiques au quotidien.</p>
      </div>
      <div class="div-button" style="margin-bottom: 100px ;">
          <button style="color:white; margin-top: 40px!important; background-color: #004EFF;" class="btn btn-secondary" [routerLink]="['reward']">Suivant</button>
  </div>
    </div>
</div>
