a:hover{
  color: #FFFFFF !important;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  background-color: #004EFF;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding-left: 35px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  transition: 0.3s;
}
.closebtn{
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 36px !important;
  padding-bottom: 26px !important;
  font-size: 60px !important;
}
