<img class="logo" src="./../../../assets/images/logo-blue.png">
<hr class="hr">
<div class="cards disabled" [class.disabled]="condition">
    <div *ngFor="let defi of defis; let i = index" class="card text-white">
        <a [routerLink]="['/defis', i]">
        <img src="{{ defi.image }}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">DEFI {{ i + 1 }}</h5>
        </div>
    </a>
      </div>
</div>
<div class="card-btn">
        <button [disabled]="!condition" class="btn btn-primary">Completer le quiz</button>
    </div>

